.headerContainer {
    height: 80px;
    overflow: auto;
    display: flex;
    align-items: center;
    background-image: linear-gradient(45deg, #a21f4b, #004a95);
}

.logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    :global {
        img {
            width: 50px;
            height: 50px;
        }
    }
}

.nav {
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

.navItem {
    color: white;
    padding: 10px 20px;
    margin: auto;
    font-size: larger;
    font-weight: bold;

    &:hover {
        color: #a21f4b;
        cursor: pointer;
    }
}

.nav_connect {
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 8px 16px;
    margin-left: 10%;
}